.jumbotron {
    padding: 4rem 1rem;
    margin-bottom: 2rem;
    background-color: transparent;
    /* border-radius: .3rem; */
}

body {
    background-color: #222;
    color: rgb(228, 228, 228)!important;
}